
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 100%;
}
::-webkit-scrollbar-thumb {
  background: #8F4D0A;
  border: 57px none #2F1903;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF8303;
}
::-webkit-scrollbar-thumb:active {
  background: #2F1903;
}
::-webkit-scrollbar-track {
  background: #1B1A17;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #2F1903;
}
::-webkit-scrollbar-track:active {
  background: #FF8303;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
