 @import url('http://fonts.cdnfonts.com/css/gotham');
 @import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Sarala&display=swap');

 :root{
  --color-pri-background: #3F0770;
  --color-seg-red: #FF2E70; 
  --color-seg-purple:#E0009E; 
  --color-subTitulo--trabalho:#B4B8C5; 

 }

 body{
  overflow-x: hidden; 
 }

header{
  position: absolute;
  z-index: 1;
}

h1 {
  color: var(--color-seg-red);
  font-size: 4em;
  font-family: 'Gotham Ultra', sans-serif;
  text-transform: uppercase;
  font-weight:500;

}
h2{
  color: #302E35;
  font-family: 'Gotham Black', sans-serif;

}

h3 {
  font-family: 'Gotham Black', sans-serif;
  font-size: 3em;
  font-style: italic;
}

p {
  font-family: 'Sarala', sans-serif;
}
header h1 {
  color: var(--color-seg-red);
  font-size: 4em;
  font-family: 'Gotham Ultra', sans-serif;
  text-transform:none;

}

header h5 {
  color: var(--color-seg-purple);
  font-family: 'Sarala', sans-serif;

}

nav a{
  font-family: 'Gotham Ultra', sans-serif;
}

.sombra-letra {
  text-shadow: 0 1px 0 #3F0770,
    0 2px 0 #3F0770,
    0 3px 0 #3F0770,
    0 4px 0 #3F0770,
    0 5px 0 #3F0770,
    0 6px 1px rgba(14, 5, 133, 0.1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}



.ceoTitulo{
  font-family: 'Gotham Light', sans-serif;
  font-weight: 800;
}

.fundoRoxo{
  background-color: var(--color-pri-background);
}

.servicos h3 {
  color: #302E35;
}

.habilidades img{
  width:150px;
}

.contato {
  background-color: var(--color-pri-background);
}



footer {
  background-color: var(--color-pri-background);
}

footer span {
  font-family: 'Mr Dafoe', cursive;
  text-transform:capitalize;
  font-size:  1.5em;
  color: #fff;
}
footer span:hover{
  color: var(--color-seg-red);
}

.container-footer-rede-social {
  background-color: #2A0548;
}

.btn {
	box-shadow: 0px 10px 14px -7px #950068;
	background:linear-gradient(to bottom, #e0009d 5%, #950068 100%);
	background-color:#e0009d;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Gotham Light', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:24px 32px;
	text-decoration:none;
  text-transform: uppercase;
	text-shadow:0px 1px 0px #e0009d;
}
.btn:hover{
  background:linear-gradient(to bottom, #791BC9 5%, #3F0770 100%);
	background-color:#FAFAFA;

}

.trabalho-titulo{
  font-style: normal;
  font-weight: 700;
  color: var(--color-seg-red);
}

.subTitulo-trabalho{
color: var( --color-subTitulo--trabalho);

}

.sobre h3 {
  color: #FAFAFA;
  font-size: 1.2em;
}

.card-trabalho{
  background-color: #290645;
  border-radius: 57px;
  border-radius: 57px;

}

.trabalho-descricao{
  font-size: 1em;

}


.tempoLeitura{
  color: #9F99B0;
}